
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @ViewBag.Name<br/>
        @ViewBag.Age<br/>
        @ViewBag.Birthday<br/>
    </div>
</body>
</html>
