
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TimeCalculatorResult</title>
</head>
<body>
    <div> 
        <h1>Time Calculator Result</h1>
        @ViewBag.Result
    </div>
</body>
</html>
